[Unit]
Description=flask web and api server to serve the website and direct image requests to the model
After=network.target

[Service]
User=town
Group=town
WorkingDirectory=/home/town/source/WebcamGPT-Vision/python-version
Environment="AI_HOST=192.168.11.11"
Environment="AI_PORT=1234"
ExecStart=/home/town/miniforge3/condabin/conda run --name myenv python process_image.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
