body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* padding-top: 20px; */
    background-color: #121212;
    color: #ffffff;
    height: 100vh;
    margin: 0;
}

.full-width {
    width: 100%;
}

#webcam-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adjust spacing as needed */
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
}

#webcam {
    border-radius: 8px;
}

#chatbox {
    height: 480px;
    overflow-y: auto;
    border: 1px solid #333333;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 8px;
}

.button {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.small-button {
    width: auto;
    padding: 10px;
}

.button:hover {
    background-color: #454545;
    transform: scale(1.05);
    /* Adds a subtle scaling effect */
}

#chatbox .user-message:nth-child(odd),
#chatbox .assistant-message:nth-child(even) {
    background-color: #2a2a2a;
}

#chatbox .user-message,
#chatbox .assistant-message {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

#chatbox .timestamp {
    font-size: 0.8em;
    color: #777;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/* New styles for the layout */
#content-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

/* Styles for the processing animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
}

#api-calls-counter {
    margin-top: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #1e1e1e;
    padding: 10px 0;
    color: #ffffff;
}

/* Hide the switch camera button by default */
#switch-camera {
    display: none;
}

/* Media query for mobile screens with portrait */
@media (max-width: 768px) {
    #switch-camera {
        display: block;
    }

    body {
        flex-direction: column;
        align-items: stretch;
    }

    .button span {
        display: none;
    }

    #content-container {
        flex-direction: column;
        align-items: stretch;
        margin: 0;
        /* margin-top: 150px; */
    }

    @media screen and (orientation: landscape) {
        #content-container {
            flex-direction: row;
        }
    }

    #webcam-container {
        margin-right: 0;
        /* max-height: 50%; */
        flex-direction: row;
    }

    #webcam {
        width: 100%;
        height: 200px;
        margin-right: 10px;
    }

    .right-column {
        margin-top: 10px;
    }

    #chatbox {
        height: 250px;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    #footer {
        position: relative;
        width: 100%;
        padding: 20px 0;
    }
}

/* Styles for links in the footer to remain white in all states */
#footer a,
#footer a:visited,
#footer a:hover,
#footer a:active {
    color: #ffffff;
    text-decoration: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right-column {
    width: 300px;
}

.right-column>* {
    width: 100%;
    margin-bottom: 10px;
}

#captured-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
}

#captured-image {
    width: 50%;
}


#chatbox .user-message {
    background-color: #2a2a2a;
    text-align: right;
}

#chatbox .assistant-message {
    background-color: #333333;
}
